@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	margin:0;
	box-sizing:border-box;
}
body{
	height: 80vw;
}

.body{
    background-image: url("../images/bugatti.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
	background-position:center;
    margin-top: -10vw;
	height: 60vw;
	width: 100%;
}

.container {
	max-width:30vw;
	width:100vw;
	margin: 12vw 0 0vw -10vw;
	text-align: center;
    float: left;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:40vw 1.2vw 1.5vw "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background: rgba(201, 198, 198, 0.8);
	padding:2.3vw;
	margin:4vw 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 3vw;
	font-weight: 35vw;
}

#contact h4 {
	margin:0.8vw 0 1.5vw;
	display:block;
	font-size:1vw;
}

fieldset {
	border: medium none !important;
	margin: 0 0 1vw;
	min-width: 10vw;
	padding: 0;
	width: 25vw;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:25vw;
	border:0.1vw solid #CCC;
	background:#FFF;
	margin:0 0 0.5vw;
	padding:0.7vw;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:0.1vw solid #AAA;
}

#contact textarea {
	height:7vw;
	max-width:100vw;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:25vw;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 0.3vw;
	padding:0.8vw;
	font-size:1.2vw;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 0.1vw 0.3vw rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:0.1vw solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.contact-info{
  display:flex;
  width:100%;
  max-width:120vw;
  align-items:center;
  justify-content:center;
  padding:0 2vw;
  margin-top: 3vw;
}

.card{
  background:#2f3542;
  padding:0 2vw;
  margin:0 1vw;
  width:calc(33% - 2vw);
  height:15vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:#fff;
  transition: 0.3s linear;
  z-index: 1;
}

.card-icon{
  font-size:2.8vw;
  background:#ffd01f;
  width:6vw;
  height:6vw;
  text-align:center;
  line-height: 6vw !important;
  border-radius:50%;
  transition: 0.3s linear;
}

.card:hover{
  background:#ffd01f;
}

.card:hover .card-icon{
  background:none;
  color:#fff;
  transform:scale(1.6);
}

.card p{
  margin-top:2vw;
  font-weight:30vw;
  letter-spacing:0.2vw;
  max-height:0;
  opacity:0;
  transition:0.3s linear;
}

.card:hover p{
  max-height:4vw;
  color:#fff;
  opacity:1;
}