*{
    box-sizing: border-box;
    margin: 0vw;
}
body{
  height: 50vw;
}

.break {
  background-image: url("../images/salon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -10vw;
  width: 100vw;
  height: 40vw;
}

main h1{
  text-align: center;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 3vw;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}